banner {
	padding: var(--spacing-sm);
	color: var(--accent-color-text);
	position: relative;
	overflow: hidden;
	display: flex;
	align-items: center;
	height: 25px;
}

scrolling-text {
	display: inline-block;
	white-space: nowrap;
	padding-left: 100%;
	animation: scroll-left 10s linear infinite;
	position: relative;
}
scrolling-text::before {
	content: var(--banner-text);
}

body[page="home"] {
	--banner-text: var(--banner-text-1);
}

body[page="projects"] {
	--banner-text: var(--banner-text-2);
}

body[page="skills"] {
	--banner-text: var(--banner-text-3);
}

body[page="favorites"] {
	--banner-text: var(--banner-text-4);
}

body[page="cats"] {
	--banner-text: var(--banner-text-5);
}

body[page="resources"] {
	--banner-text: var(--banner-text-6);
}

body[page="contact"] {
	--banner-text: var(--banner-text-7);
}

nav a:hover + banner scrolling-text::before {
	content: attr(data-banner);
}

@keyframes scroll-left {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(-100%);
	}
}
