#secret {
	border-top: none;
	&:user-valid {
		border-color: green;
	}
}

.secret-section > {
	margin: 0;
}
.secret-show {
	display: none;
}
.secret-hide {
	display: flex;
}
body:has(#secret:user-valid) .secret-show {
	display: flex;
}
body:has(#secret:user-valid) .secret-hide {
	display: none;
}
