@media (width <=600px) {
	.menu {
		background-color: var(--container-color);
		visibility: hidden;
		position: absolute;
		flex-direction: column;
		z-index: 100;
		top: 9ch;
		left: 0;
		right: 0;
		height: 90%;

		& a {
			display: flex;
			align-items: center;
			justify-content: center;
			border: var(--accent-border);
		}
	}

	body:has(#cat-toggle:checked) .menu {
		visibility: visible;
	}
}

@media (width > 600px) {
	mobile {
		display: none;
	}
}
